.row{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.cancel-btn{
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
}


.new-event-container{
    position: fixed;
    right: 0px;
    height: 100%;
    z-index: 1;
    width: 25%;
    background-color: white;
    box-shadow: -13px 0px 5px -5px rgba(0, 0, 0, 0.3); ;
}


.new-event-form{    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.submit-btn{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}
